<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Admin Page</title>
</head>
<body>
  <h2>Welcome <%= username %></h2>
<% books.forEach(book => { %>
<div class="book" data-id="<%= book.id %>">
<h4 class="title"><%= book.title %></h4>
<p class="author"><%= book.author %></p>
<p class="price"><%= book.price %></p>
<button class="editBtn" data-id="<%= book.id %>">Edit</button>
<button class="deleteBtn" data-id="<%= book.id %>">Delete</button>
</div>
<% });%>

<div class="newBook">
<h3>CREATE A NEW BOOK</h3>
<form action="/post" method="post"> 
<label for='name'>Enter a title</label>
  <input type="text" class="tit" name="name" placeholder="Title"></input>
  <label for='author'>Enter the author</label>
  <input type="text" class="aut" name="author" placeholder="Author"></input>
  <label for='price'>Enter a price</label>
  <input type="text" class="pri" name="price" placeholder="Price"></input>
  
    <label for=''>Page Count</label>
  <input type="text" class="page" name="page" placeholder="Author"></input>
  
    <label>Sypnosis</label>
  <input type="text" class="sypnosis" name="sypnosis" placeholder="Author"></input>
  <button type="submit">Create Book</button>
</form>

</div>

    <script src = "/JS/admin/index.js"></script>
   
    </body >
    </html >
