<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/CSS/Users/savedBooks.css" />
  <title>
    <%= username %>'s Books
  </title>
</head>

<body>
  <header class="header">
    <div>
      <h2 class="logo">P's Books</h2>
    </div>
    <nav class="desktop-nav">
      <ul class="nav">
        <li class="nav-link">
          <a class="nav-link-a" href="/users/savedBooks">My Books</a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="/users/readingList">Reading List</a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="/users/News">News</a>
        </li>
        <li class="nav-link">
          <a class='nav-link-a' href="/users/message">Message</a>
        </li>
        <li><a class="logout-btn nav-link-a" href="/logout">Logout</a></li>
      </ul>
    </nav>
    <nav class="mobile-nav">
      <ul class="nav-dropdown">
        <li class="nav-link">
          <a class="nav-link-a" href="/">Home</a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="/users/savedBooks">My Books</a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="/users/readingList">Reading List</a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="/users/Message">Message</a>
        </li>
        <li class="nav-link">
          <a class="logout-btn nav-link-a" href="/logout">Logout</a>
        </li>
        <li class="nav-link">
          <a class="nav-link-a" href="/users/News">News</a>
        </li>
      </ul>
    </nav>
    <button class="menu-toggle-btn"></button>
  </header>
  <main class="main-section">
    <div class="current-Books">
      <h3>Current Books </h3>
      <div class="current-books-wrapper">
        <% if (User.currentlyReading) { %>
          <% User.currentlyReading.forEach(book=> { %>
            <div class="current-books">
              <h4>
                <%= book.title %>
              </h4>
              <p>
                <%= book.genre %>
              </p>
              <p>
                <%= book.author%>
              </p>
              <input disabled type="range" min="1" max="<%= book.pageCount %>" value="<%= book.currentPage %>">
              <div class="page-num-edit">
                <button class='page-btn'>Set Current Page</button>
              </div>
            </div>
            <% }) %>

              <% } %>
      </div>
    </div>
    </div>
    <section>
      <h3>Saved Books</h3>
      <h4>Here are your saved books <%= User.username %>
      </h4>
    </section>
    <div class="saved-Books-wrapper">
      <% User.savedBooks.forEach(book=> { %>
        <div>
          <div class="card-content">
            <h3>
              <%= book.title %>
            </h3>
            <p>
              <%= book.genre %>
            </p>
            <p>
              <%= book.author %>
            </p>
            <p>
              <%= book.price %>
            </p>
            <button data-id="<%= book.id %> " class="read-btn">Start Reading</button>
            <button class="delete-btn">&times;</button>
            <a href=<%=`download/${book.id}` %> class="download-button"
              >Download</a>
          </div>
        </div>
        <%}); %>
    </div>
  </main>
  <script type="module" src="/JS/users/users.js"></script>
  <script type="module" src="/JS/users/savedBooks.js"></script>
</body>

</html>